<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

      <div class="container">
        <hr>
         <h2>Categorias</h2>
         <a class="btn btn-dark" href="/admin/categories/new">Nova categoria</a>
         <hr>
         <table class="table table-bordered">
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
             </thead>
             <tbody>
                <%  categories.forEach(category => { %>
                      
                <tr>
                  <th><%= category.id %></th>
                  <th><%= category.title %></th>
                  <th><%= category.slug %></th>
                  <th>
                    <button class="btn ">Editar</button>

                    <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                    
                  </th>
               </tr>

                <% }) %>
              
             </tbody>
         </table>
      </div>


    <%- include ('../../partials/footer.ejs') %>   
    
    
    <script>
  
    function confirmDelete(e, form) {
      e.preventDefault();
      let value = confirm("Você quer deletar esta categoria? ");
      if(value) {
             form.submit();
      } 
    }

    </script>